<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SBIR DEMO</title>
    <link rel="stylesheet" href="/static/css/page_style.css">
    <link rel="stylesheet" href="/static/css/canvas_style.css">
    <link rel="stylesheet" href="/static/css/button.css">
</head>
<body>
<div class="header">
    <h1 style="text-align:center;margin:0 auto"> SBIR Demo</h1>
    <p>Build by JJK</p>
</div>
<div style="height:44px"></div>
<div class="row">
    <div class="side">
        <h2>Input sketch</h2>
        <div style="height:200px;" align="center">
            <img src="{{ url_for('static', filename= './sketch_tmp/upload.png',_t=val1) }}"
                 width="200" height="200"
                 style="border:3px solid #999;margin:5px 0px 10px 0px"
                 alt="error: load image"/>
        </div>
        <h2 style="margin:15px 0px 5px 0px">Pred result</h2>
        <div style="height:200px;" align="center">
            <img src="{{ url_for('static', filename= './sketch_tmp/pred.png',_t=val1) }}"
                 width="200" height="200"
                 alt="error: load image"/>
        </div>
        <h5>Part info:</h5>
        <div style="margin:5px 0 0 60px">
            <table width="160">
                {% for item in part_info %}
                <tr align="left">
                    <th>
                        <h5>{{ item[0] }}</h5>
                    </th>
                    <th>
                        <h5>{{ item[1] }}</h5>
                    </th>
                    <th>
                        <i style="width:15px;height:15px;border-radius:50%;background-color:rgb({{item[2]}},{{item[3]}},{{item[4]}});display:block"></i>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="main">
        <h2>Retrieval results</h2>
        <div class="pic_list_con">
            <ul class="clearfix" id="show_img_pannel">

            </ul>
        </div>
        <div>
            <table style="text-align:center; margin:0 auto" cellspacing="30">
                <tr>
                    <th>
                        <a class="button back" id="prev" onclick="getProImg()">上一张
                        </a>
                    </th>
                    <th>
                        <h5 id="info"> 1/5 </h5></th>
                    <th>
                        <a class="button next" id="nextv" onclick="getNextImg()">下一张
                        </a>
                    </th>
                    <th>
                        <a style="text-align:center; margin:0 auto" class="button" href="{{url_for('upload')}}">Return!!!</a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<input type="text" name="json_info" id="json_info" value="{{json_info}}" style="display:none"/>

</body>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/jquery-3.4.0.min.js"></script>
</html>